default:
    suites:
        default:
            contexts:
                - FeatureContext
                - Behat\MinkExtension\Context\MinkContext
                - Doyo\Behat\Contexts\RestContext
                - Doyo\Behat\Contexts\JsonContext
    extensions:
        Behatch\Extension: ~
        Behat\Symfony2Extension:
            kernel:
                class: Test\Doyo\Behat\Fixtures\Kernel
                env: test
                debug: true
        Behat\MinkExtension:
            sessions:
                default:
                    symfony2: ~
        Doyo\Behat\Coverage\Extension:
            filter:
                - src
            report:
                php: build/cov/behat.cov
                html: build/behat
        Doyo\Behat\Extension:
            translator: 'translator'
