suites:
    behat:
        namespace: Doyo\Behat
        psr4_prefix: Doyo\Behat

extensions:
    Doyo\PhpSpec\CoverageExtension:
        whitelist:
            - src
        format:
            - php
            - html
        output:
            php: build/cov/phpspec.cov
            html: build/phpspec
